<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK Mozi</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <div class="main-header">
            <header>
                <h1>MK Mozi</h1>
                <p>Mert mozizni VELÜNK a legjobb!</p>
            </header>
            <nav>
                <ul>
                    <li><a href="/">Kezdőlap</a></li>
                    <li><a href="/movies">Műsorok</a></li>
                    <li><a href="/about">Rólunk</a></li>
                    <li><a href="/buffet">Büfé</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <main>
        <%- body %>
    </main>

    <footer>
        <div class="page-map">
            <h4>Oldaltérkép</h4>
            <ul>
                <li><a href="/">Kezdőlap</a></li>
                <li><a href="/movies">Műsorok</a></li>
                <li><a href="/about">Rólunk</a></li>
                <li><a href="/buffet">Büfé</a></li>
            </ul>
        </div>
        <div class="footer-datas">
            <h4>elérhetőségek</h4>
            <ul>
                <li>+36 20 123 45 67</li>
                <li>mkmozi@mail.com</li>
                <li>Magyarkeszi, Köztársaság utca 7.</li>
            </ul>
        </div>
        <div class="logo">
            <h1>MK Mozi</h1>
            <p>Mert mozizni VELÜNK a legjobb!</p>
        </div>
    </footer>
</body>
</html>