<div class="container-about">
    <div class="about">
        <h2>Rólunk</h2>
        <p>Mozink 2024.12.01-én nyitotta meg kapuit Magyarkeszin, a Művelődési ház nagytermében. Az ország egyik legfejlettebb, legkomolyabb vetítéstechnológiájával van ellátva. A kép első osztályú, a hangzást Dolby Digital technológiák, és korszerű JBL hangszórók biztosítják.</p>
        <p>Az MK Mozi a hét minden napján nyitva áll, a vetítések minden nap kötött időpontokban vannak. Minden korosztály megtalálja a neki való meséket vagy filmeket.</p>
        <p>Műsorunkon kízárólag a most aktuális sikerfilmek futnak, eltekintva a tulajdonosok örök kedvenceit. :D</p>
    </div>
    <div class="price">
        <h2>Jegyárak</h2>
        <p><strong>Diákjegy:</strong> 2000 Ft</p>
        <p><strong>Teljes áru jegy:</strong> 3000 Ft</p>
        <p><strong>Családi jegy (4 főra):</strong> 6500 Ft</p>
        <p>7 év alatti gyermekeknek és nyugdíjjasoknak a jegy díjtalan!</p>
        <p>Jegyeket <strong>kizárólag</strong> foglalni lehet, a lefoglalt jegyeket a pénztárba lehet átvenni. Kérjük Önöket, hogy az adott vetítés előtt legkésőbb 20 percel korábban átvenni a jegyeiket!</p>
    </div>
    <div class="opening">
        <h2>Nyitvatartás</h2>
        <p>A pénztár és a büfé az első előadás előtt nyit fél órával, és az utolsó előadás kezdete után 15 percel zár.</p>
        <p>Minden nap: 11:30-21:15 között vagyunk nyitva, ügyfélszolgálatunk is bennen az időintervallumban elérhető.</p>
        <p>A jegyfoglalás on-line a nap 24 órájában elérhető, ezen kívül telefonon is lehet foglalni ügyfélszolgálati időben.</p>
    </div>
    <div class="parking">
        <h2>Parkolás</h2>
        <p>A Művelődési ház udvarán van leheztőség parkolásra díjtalanul, de a férőhelyek száma korálozott az udvar mérete miatt.</p>
    </div>
</div>