<div class="container-buffet">
    <h2>Büfé</h2>
    <p>A mozi élénynek minden tekintetben nélkülözhetetlen hozzávalója a nassolniváló. Ha nincs popcorn vagy nachos nem is igazi a mozi.</p>

    <div class="popcorn">
        <img src="/img/salt-popcorn.webp" alt="salt popcorn">
        <div>
            <h3>Sós popcorn</h3>
            <p>A sós pattogatott kukorica tökéletes nassolnivaló minden mozilátogató számára, aki a klasszikus vonalra esküszik. A moziban frissen pattogtatott kukorica várja a mozivendégeket, hogy a moziélményt tökéletessé varázzolja az orrbamászó illata!  A sós pattogatott kukorica egy egy jó mozi...csak ennyi kell!! </p>
            <p>Ár: 1000 Ft</p>
        </div>
    </div>

    <div class="popcorn">
        <img src="/img/chocolate-popcorn.webp" alt="chocolate popcorn">
        <div>
            <h3>Csokis popcorn</h3>
            <p>A csokis pattogatott kukorica kifejezetten az édesszájú mozit kezdevlőknek lett kitalálva, egyeszrűen ellenálhatatlan.</p>
            <p>Ár: 1000 Ft</p>
        </div>
    </div>

    <div class="nachos">
        <img src="/img/nachos.webp" alt="nachos">
        <div>
            <h3>Nachos</h3>
            <p>A klasszikus nachos, tortillachips, a selymes olvasztott sajt és a finom édes-fűszeres salsa tökéletes keverékével az egyik, ha nem a legjobb komfort snack egy jó kis filmnézéshez. Nemcsak finom csemege, de a popcorn mellett is megállja a helyét a mozis nassolnivalók színterén. Szóval, mire is vársz?</p>
            <p>Ár: 1000 Ft</p>
            <p>választható szószok: Sajt, vagy salsa, a szósz benne van az árban</p>
        </div>
    </div>

    <div class="menu">
        <img src="/img/popcorn-menu.png" alt="popcorn menü">
        <div>
            <h3>Popcorn menü</h3>
            <p>Tartalmaz egy választható uzesítésű popcorn-t, valamint egy választható üdítővel.</p>
            <p>Ár: 1200 Ff</p>
        </div>
    </div>

    <div class="menu">
        <img src="/img/nachos-menu.png" alt="nachos menü">
        <div>
            <h3>Nachos menü</h3>
            <p>Tartalmaz egy nachos-t választható szósszal, valamint egy választható üdítővel.</p>
            <p>Ár: 1200 Ff</p>
        </div>
    </div>

    <div class="drink">
        <img src="/img/5_Soft_Drinks.webp" alt="üdítők">
        <div>
            <h3>Üdítők</h3>
            <p>A nassolnivalót minden esetben muszály valamivel leöblíteni azt, nincs kivétel .</p>
            <p>Dobozos üdítők: 350 Ft</p>
            <p>Palackos üdítők: 500 Ft</p>
            <p>Ásványvíz: 350 Ft</p>
            <p>Pezsgő: 700 Ft</p>
        </div>
    </div>
</div>